body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #C9B79C;
    /* background-color: #F1E0C5; */
    /* background-color: #71816D; */
    /* background-color: #342A21; */
    /* background-color: #DA667B; */
}

#myVideo {
    width: 320px; 
    height: 240px;
  }

  h1 {
      font-family: 'Sorts Mill Goudy', serif;
      font-size: 44px;
      font-weight: bolder;
      background-color: #71816D;
      color: #342A21;
  }

.carousel {
    margin: 0 auto;
    width: 100%;
}

.firstImage {
    transition: 3.5s;
}

#fadeIn {
    opacity: 100;
    /* transition: 3.5s; */
}

#fadeOut {
    opacity: 0;
    /* transition: 3.5s; */
}

.video {
    margin: 0 auto;
}

.wordWrap {
    width: 450px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
    border: 5px solid #DA667B;
    border-radius: 10px;
    background-color: #342A21;
    color: #C9B79C;
}